@import url('https://fonts.googleapis.com/css2?family= Montserrat & display = swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #EDDFB3;    
}

img {
    width: 80px;
    padding-top: 20px;
    padding-left: 20px;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: auto;
}

input {
    height: 90px;
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    padding-left: 10%;
    border-radius: 5px;    
}

button.adicionar {
    width: 20%;
    cursor: pointer;
    background: #379237;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    height: 90px;
    border-radius: 10px;
    margin-left: 10px;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: auto, auto;
    padding-top: 40px;
}

.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    margin-left: 80px;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #EEEEEE;
    margin-bottom: 3%;
    cursor: pointer;
}

.item.clicado {
    background: #EEEEEE;
}

.item.clicado .item-nome {
    text-decoration: line-through;
    color: #8B7E74;
}

.item-icone {
    flex: 20%;
    text-align: center;
    font-size: 2rem;
}

.item-nome {
    flex: 55%;
    font-size: 20px;
    font-weight: bold;
}

.item-botao {
    flex: 25%;
}

.delete {
    background: #D2001A;
    font-size: 16px;
    color: #ffffff;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
    cursor: pointer;
}

.mdi-check-circle {
    color: #379237;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: #E6D2AA;
    height: 40px;
    width: 100%;
}

footer a {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    padding-left: 10px;
}


